<li class="dropdown">
    <a asp-controller="Admin"
       class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li>
            <a asp-controller="Admin" asp-action="AddPie">AddPie</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="AddCategory">AddCategory</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="ResetDatabase">RecreateDatabase</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="ChangePrice">ChangePiePrice</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="AddPieDropDown">AddPieWithDropdown</a>
        </li>
    </ul>
</li>